<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавление товара</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/bootstrap/css/bootstrap.css}"
          href="../../static/bootstrap/css/bootstrap.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{~/shipments}">Оптовый склад</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/shipments}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Поставки
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/shipments}"> Таблица поставок </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/shipments/add}"> Зарегистрировать поставку </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/products}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Товары
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/products}"> Таблица товаров </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/products/add}"> Добавить новый товар </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/counterparts}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Контрагенты
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/counterparts}"> Таблица контрагентов </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/counterparts/add}"> Добавить нового контрагента </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1 text-center mt-5"> Добавление товара </h1>

                <div class="text-center mt-5">
                    <a class="btn btn-primary" th:href="@{products}" role="button">Назад</a>
                </div>

                <form th:object="${product}" method="post">
                    <div class="form-group">
                        <label for="name">Наименование товара</label>
                        <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Введите наименование товара">
                    </div>
                    <div class="form-group">
                        <label for="barcode">Штрих-код</label>
                        <input th:field="*{barcode}" type="text" class="form-control" id="barcode" placeholder="Введите номер товара из штрих-кода">
                    </div>
                    <div class="form-group">
                        <label for="stock">Запас</label>
                        <input th:field="*{stock}" type="number" class="form-control" id="stock" placeholder="Укажите запас товара на складе">
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/bootstrap/js/bootstrap.bundle.js}" src="../../static/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
