<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Таблица товаров</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/bootstrap/css/bootstrap.css}"
          href="../../static/bootstrap/css/bootstrap.css"/>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{~/shipments}">Оптовый склад</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/shipments}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Поставки
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/shipments}"> Таблица поставок </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/shipments/add}"> Зарегистрировать поставку </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/products}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Товары
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/products}"> Таблица товаров </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/products/add}"> Добавить новый товар </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/counterparts}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Контрагенты
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/counterparts}"> Таблица контрагентов </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/counterparts/add}"> Добавить нового контрагента </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1 text-center mt-5"> Таблица товаров </h1>

                <div class="text-center mt-5">
                    <a class="btn btn-primary" th:href="@{products/add}" role="button">Добавить товар</a>
                </div>

                <div class="mt-5" th:if="${productList.isEmpty()}">
                    <h2 class="h3 text-center"> Таблица товаров отсутствует </h2>
                </div>
                <div class="mt-5" th:unless="${productList.isEmpty()}">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Штрих-код</th>
                            <th scope="col">Название</th>
                            <th scope="col">Запас на складе</th>
                            <th scope="col">Изображение</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${productList}">
                            <td th:text="${product.id()}">ID</td>
                            <td th:text="${product.barcode()}">Штрих-код</td>
                            <td th:text="${product.name()}">Название</td>
                            <td th:text="${product.stock()}">Запас на складе</td>
                            <td>
                                <div th:if="${product.imageId() != null}">
                                    <img style="width: 200px; height: 200px" src="https://ya.ru" th:attr="src=${'api/products/image/' + product.imageId()}" alt="Изображение товара">
                                </div>
                                <div th:unless="${product.imageId() != null}">
                                    <p> Изображение отсутствует </p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/bootstrap/js/bootstrap.bundle.js}" src="../../static/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
