<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавление товара</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/bootstrap/css/bootstrap.css}"
          href="../../static/bootstrap/css/bootstrap.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{~/shipments}">Оптовый склад</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/shipments}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Поставки
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/shipments}"> Таблица поставок </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/shipments/add}"> Зарегистрировать поставку </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/products}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Товары
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/products}"> Таблица товаров </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/products/add}"> Добавить новый товар </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{~/counterparts}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Контрагенты
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{~/counterparts}"> Таблица контрагентов </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{~/counterparts/add}"> Добавить нового контрагента </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1 text-center mt-5"> Регистрация поставки </h1>

                <div class="text-center mt-5">
                    <a class="btn btn-primary" th:href="@{shipments}" role="button">Назад</a>
                </div>

                <form th:object="${shipment}" method="post">
                    <div class="form-group">
                        <label for="shipment-type">Тип поставки</label>
                        <select class="form-select" th:field="*{shipmentType}" id="shipment-type">
                            <option th:each="selectedShipmentType : ${T(ru.penzin.app.warehouse.entity.ShipmentType).values()}"
                                    th:value="${selectedShipmentType}" th:text="${selectedShipmentType.title}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="counterparty">Контрагент</label>
                        <select name="counterparty" class="form-select" id="counterparty">
                            <option th:each="selectedCounterparty : ${counterparts}"
                                    th:value="${selectedCounterparty.id}"
                                    th:text="${selectedCounterparty.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="product">Товар</label>
                        <select name="product" class="form-select" id="product">
                            <option th:each="selectedProduct : ${products}"
                                    th:value="${selectedProduct.id}"
                                    th:text="${selectedProduct.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="count">Количество товара в поставке</label>
                        <input class="form-control" th:field="*{count}" type="number" id="count"
                               placeholder="Укажите количество товара в поставке">
                    </div>
                    <div class="form-group">
                        <label for="shipment-start">Дата начала поставки</label>
                        <input class="form-control" th:field="*{shipmentStart}" type="datetime-local" id="shipment-start"/>
                    </div>
                    <div class="form-group">
                        <label for="shipment-end">Дата окончания поставки</label>
                        <input class="form-control" th:field="*{shipmentEnd}" type="datetime-local" id="shipment-end"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/bootstrap/js/bootstrap.bundle.js}" src="../../static/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
